.back-to-top-btn {
	display: block;
	position: fixed;	
	bottom: 40px;
	right: 40px;
	width: 48px;
	height: 82px;
	background: url('../img/back-to-top-btn.svg') no-repeat center;
	background-size: contain;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transform: translateY(30px);
	transition: all .3s;

	&.shown {
		visibility: visible;
		opacity: 1;
		z-index: 20;
		transform: translateY(0);
	}
}