.btn {
	display: flex;
	align-items: center;
	justify-content: center;	
	background: linear-gradient(271.87deg, #068EFC 6.14%, #193EFF 43.99%, #1510F5 66.69%);
	border-radius: 6px;
	height: 40px;
	color: white;
	text-decoration: none;
	padding: 0 22px;
}