.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	font-size: 14px;
	color: #031539;
	height: 40px;
	width: fit-content;
	background-color: #fff;
	border: none;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	transition: all .3s;
	padding: 0 30px;

	&:hover {
		background-color: #A6A7AD;
	}

	&_ent {
		height: 45px;
		border-radius: 4px;
		background-color: #2556BC;
		color: white;
		font-size: 16px;
		font-weight: 700;

		&:hover {
			background-color: #153F95;
		}
	}
	
	&_ent-secondary {				
		background: white;
		color: #2556BC;
		border: 1px solid #2556BC;
		gap: 10px;
		overflow: hidden;
		flex: none;
		padding: 0 20px;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: linear-gradient(to left, white 0%, transparent 100%);
			z-index: 1;
		}

		& > * {
			position: relative;
			z-index: 2;
		}

		&:hover {
			background-color: #ddedf8;			

			img {
				transform: translateX(4px);
			}
		}

		img {
			transition: transform .2s;
		}
	}
	
	&_primary {
		height: 48px;
		font-size: 15px;
		font-weight: 600;
		border-radius: 24px;
	}

	&_black {
		background-color: black;
		color: white;

		&:hover {
			color: #A6A7AD;
			background-color: black;
		}
	}

	&_magic {
		background: linear-gradient(140.06deg, #9095A0 0%, #080B1A 90.63%);
		color: white;

		&::after {
			content: '';
			width: calc(100% - 2px);
			height: calc(100% - 2px);
			border-radius: 24px;
			background: linear-gradient(117.67deg, #111B32 0%, #060918 77.93%);
			position: absolute;
			top: 1px;
			left: 1px;
			z-index: 1;
			transition: all .2s;
		}

		svg,
		img {
			position: relative;
			z-index: 2;
		}

		span {
			position: relative;
			z-index: 2;
		}

		&:hover {
			&::after {
				opacity: .9;
			}
		}
	}
}