.faq {	
	margin-bottom: 120px;

	@media (max-width: 768px) {
		margin-bottom: 80px;
	}

	&__cnt {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 40px;
	}
	
	&__list {
		max-width: 800px;
		width: 100%;		

		&-item {
			border-bottom: #2C2D54 1px solid;

			&:first-child {
				border-top: #2C2D54 1px solid;
			}

			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 115px;
				width: 100%;

				@media (max-width: 768px) {
					height: 87px;					
				}
			}

			&-title {
				font-weight: 600;
				font-size: 36px;
				line-height: 1.33;				
				letter-spacing: -0.02em;
				cursor: pointer;
				margin: 0;

				@media (max-width: 768px) {
					font-size: 24px;
				}
			}

			&-content {
				display: none;
				font-size: 24px;
				line-height: 1.67;				
				letter-spacing: -0.006em;
				color: #D2D4E7;
				padding-bottom: 40px;
				margin: 0;

				@media (max-width: 768px) {
					font-size: 18px;
					line-height: 1.44;			
					letter-spacing: -0.006em;
					color: #D2D4E7;
				}
			}

			&.active .faq__list-item-content {
				display: block;
			}
		}
	}
}