.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 88px;
	border-bottom: 1px solid #E0E7F2;
	position: relative;
	padding: 0 90px;

	&_dark {
		background-color: black;
		border-color: #2C2D54;
	}

	@media (max-width: 1200px) {
		padding: 0 40px;
	}

	@media (max-width: 1024px) {		
		height: 73px;
		padding: 0 20px;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 24px;

		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		gap: 20px;
		height: 40px;
		border-right: 1px solid #E0E7F2;
		padding-right: 24px;
	}

	&__cta {
		display: flex;
		align-items: center;
		gap: 32px;
		padding: 0;
	}

	&__cta-link {
		color: var(--font-dark);
		text-decoration: none;
	}
}