.main-menu {

	&__list {
		display: flex;
		align-items: center;
		gap: 16px;
		height: 42px;
		border: 1px solid #2C2D54;
		border-radius: 21px;
		padding: 0 20px;
	}

	&__item {
		list-style: none;
		font-size: 14px;
	}

	&__link {
		color: white;
		text-decoration: none;
	}
}