.main-menu {
	display: flex;
	align-items: center;
	gap: 16px;
	height: 50px;
	border: 1px solid #2C2D54;
	border-radius: 25px;
	padding: 0 28px;

	&_header {
		@media (max-width: 768px) {
			display: none;
		}
	}

	&_mobile {		
		border: none;
		height: auto;
		padding: 0 0 0 10px;
	}

	.float & {
		background-color: #020514;
		padding-right: 5px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 0;	
		margin: 0;	
	}

	&_mobile &__list {
		flex-direction: column;
		align-items: flex-start;
		gap: 3.8vh;
		width: 100%;
	}

	&__item {
		list-style: none;
		font-size: 14px;
		position: relative;
		cursor: pointer;

		&_dropdown:hover .dropdown {			
			opacity: 1;
			visibility: visible;
			z-index: 9;
			transform: translateY(100%);

			@media (max-width: 768px) {
				position: static;
				transform: none;
			}
		}
	}

	&_mobile &__item {
		font-size: 24px;
		border-bottom: #2C2D54 1px solid;
		width: 100%;
		padding-bottom: 3.8vh;

		.dropdown {			
			width: 100%;		
			
			&__links {			
				flex: auto;
			}
		}
	}

	&__link {
		color: white;
		text-decoration: none;
		transition: all .2s;

		&:hover {
			color: #6F7288;
		}
	}

	&__cta {
		display: none;
	}

	.float &__cta {
		display: flex;
	} 
}