.mobile-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #020514;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	// overflow-y: scroll;
	transition: all .3s;
	padding: 120px 20px 92px;	

	&.active {
		z-index: 12;
		visibility: visible;
		opacity: 1;

		@media (min-width: 1025px) {
			z-index: -1;
			visibility: hidden;
			opacity: 0;
		}
	}

	&_ent {
		background-color: #fff;
	}

	&__menu-cnt {
		overflow-y: scroll;
		height: calc(100vh - 82px);		

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__header {
		position: fixed;
		left: 20px;
		top: 20px;
		width: calc(100% - 40px);
		z-index: 1000;
		margin-bottom: 52px;
	}

	&_ent &__header {
		top: 0;
		left: 20px;
		width: calc(100% - 40px);

		.wrap-ent {
			padding: 0;
		}

		&__cnt {
			width: 100%;
		}
	}

	&__cta {		
		position: fixed;
		bottom: 30px;
		left: 20px;
		width: calc(100% - 40px);				
		flex: none;		
		z-index: 10;
	}
}