.primary-title {
	font-weight: 600;
	font-size: 62px;
	line-height: 1;
	text-align: center;
	letter-spacing: -0.007em;	
	background: linear-gradient(92.14deg, #7B7FAA 2.62%, #FCFCFC 41.03%, #FCFCFC 63.53%, #7B7FAA 92.92%), #FFFFFF;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	padding-bottom: 20px;	
	margin-top: 0;

	@media (max-width: 768px) {
		font-weight: 600;
		font-size: 30px;
		line-height: 1.07;
		padding-bottom: 10px;	
	}

	&__badge {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: 16px;
		font-weight: 600;
		color: white;
		width: fit-content;
		border-radius: 16px;
		border: 1px solid rgba(255, 255, 255, 0.20);
		background: linear-gradient(87deg, #18AB88 17.44%, #3174B5 100%), #07091F;
		box-shadow: 0px -2px 8px 0px rgba(13, 36, 121, 0.61) inset;
		-webkit-background-clip: none;
		-webkit-text-fill-color: white;
		height: 32px;
		padding: 0 12px;
		margin: 0 auto 10px;

		@media (max-width: 768px) {			
			font-size: 13px;		
		}
	}
}