@import './normalize.scss';
@import './fonts.scss';
@import './variables';

// Blocks
@import './ad-block.scss';
@import './header.scss';
@import './logo.scss';
@import './logo-link.scss';
@import './btn.scss';
@import './main-menu.scss';
@import './main.scss';
@import './primary-title.scss';
@import './hero-section.scss';
@import './block-title.scss';
@import './rankings.scss';
@import './block-subtitle.scss';
@import './filter.scss';
@import './see-all-btn.scss';
@import './sort-panel.scss';
@import './pagination.scss';
@import './search-input.scss';
@import './select.scss';
@import './bridge-cards.scss';
@import './bridge-card.scss';
@import './card-tags.scss';
@import './card-tag.scss';
@import './news.scss';
@import './footer.scss';
@import './white-link.scss';
@import './mobile-menu-btn.scss';
@import './mobile-menu.scss';
@import './gas-station-wrapper.scss';
@import './gas-station.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Onest', 'Roboto', sans-serif;
  color: var(--font-dark);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
}

.fixed {
  position: fixed;
}

.container {  
  min-width: 320px;  

  &_dark {
    background: #000212 url('../img/cnt-bg-dark.png') no-repeat center top;
    background-size: contain;
  }
}

.wrap {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}


